<footer class="text-center mt-5 py-3 border-top footer">
    <div class="container">
      <p style="margin-top: 20px;" class="mb-0 footer-text">Rıdvan Sezen &copy; 2025 VideoApp - All rights reserved.</p>
      <p style="margin-top: 50px;" class="footer-text">Youtube hesabım : <a href="https://www.youtube.com/@rsensedits"><i style="color: #fff;" class="fa-brands fa-youtube"></i></a></p>
      <p style="margin-top: 30px;" class="footer-text">Instagram hesabım : <a href="https://www.instagram.com/rsensedits/?hl=tr"><i style="color: #fff;" class="fa-brands fa-instagram"></i></a></p>
    </div>
  </footer>
  