nav.navbar {
    background-color: #389741 !important;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    transition: 0.3s;
    border-radius: 50px;
}

.nav-link:hover {
    background-color: #2f7c36;
    transition: 0.3s;
    scale: 1.1;
}

.jumbotron {
    background-color: rgb(206, 206, 206);
    border-radius: 60px;
    padding: 15px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center; 
    margin-top: 250px;
}

.index-text, .index-sub-text {
    text-align: center; 
}