{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <h2>Giriş Yap</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Giriş Yap</button> <!-- Giriş yap butonunu manuel olarak ekledik -->
    </form>
{% endblock body %}
