<div class="card mb-3">
    <div class="card-header d-flex align-items-center">
        {% load static %}
        {% get_media_prefix as MEDIA_URL %}
        {% if post.user.profile_picture %}
          <img src="{{ post.user.profile_picture.url }}" alt="Profil" class="rounded-circle me-2" width="40" height="40">
        {% else %}
          <img src="{{ MEDIA_URL }}default.jpg" alt="Profil" class="rounded-circle me-2" width="40" height="40">
        {% endif %}
            <a href="{% url 'profile' post.user.username %}" class="text-dark text-decoration-none">
            {{ post.user.username }}
          </a>
    </div>

    {% if post.image %}
      <a href="{% url 'posts:post_detail' post.pk %}">
        <img src="{{ post.image.url }}" class="card-img-top img-thumbnail" style="max-height:300px; object-fit:cover;" alt="Fotoğraf">
      </a>
    {% elif post.video %}
      <a href="{% url 'posts:post_detail' post.pk %}">
        <div class="video-thumbnail-container">
          <video muted>
            <source src="{{ post.video.url }}" type="video/mp4">
          </video>
          <span class="play-icon">▶</span>
        </div>
      </a>
    {% elif post.content %}
      <!-- Text post için de tıklanabilir yapıyoruz -->
      <a href="{% url 'posts:post_detail' post.pk %}" style="text-decoration:none; color:inherit;">
        <div class="card-body">
          <p class="card-text">{{ post.content|linebreaksbr }}</p>
        </div>
      </a>
    {% endif %}
</div>
